
@media only screen and (max-width: 320px) {
  /* --------- Header --------- */  
  header{
      width: 320px;
      z-index: 1;
      
  
    }
  /* --------- Main --------- */
    .clases{
     width: 320px;
     height: 2300px;
     font-size: 1.7rem;
     z-index: -1;
   }
  
   .Que-ofrecemos{
   margin-top: 150px;
    text-align: center;
    margin-bottom: 70px;
  
     h2{
        font-family: 'Anton', sans-serif;
        font-style: italic;
        font-size: 2.5rem;
        font-weight: 100;
        margin-bottom: 15px;
        
       }  
  }
  
 
  
  .imagen{
  
    display: flex;  flex-direction:column; 
    align-items: center;

    div{
        width: 250px;
        text-align: center;
       }

       p{
        margin-top: 20px;
        display: inline-block; 
      }
  }
  
  @mixin padre{
    margin-bottom: 50px;
    width: 320px;
  }
  
  @mixin tipo{
    width: 250px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .padre1{
    @include padre;
  }
  .gym {
    @include tipo;
    background-image: url("../imagenes/imagen1.png");
    
  }
  
  .padre2{
    @include padre;
  }
  .fun{
    @include tipo;
    background-image: url("../imagenes/funcional5.png");
   
  }
  
  .padre3{
    
    width: 320px;
  }
  
  .box{
    @include tipo;
    background-image: url("../imagenes/boxeo1.png");
  
  }
  
  
  /* --------- Footer --------- */
  #footer1{
    z-index: -1;
    
    .contenedor1{
      @include linea-negra;
    }
    
    .contenedor2{
      @include linea-negra;
    }
     
     
  }
  
  
  
  
  
  }