
@media only screen and (max-width: 320px) {
    /* --------- Header --------- */
    header{
      width: 320px;
      z-index: 1;
    }
  
    .blog{
     width: 320px;
     height: 5400px;
     z-index: -1;
   }
  
   /* --------- Hero --------- */
   .inicio{
    height: 300px;
    background-image: url("../imagenes/fondo blog2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 

    h2{
        font-family: 'Anton', sans-serif;
        font-style: italic;
        font-size: 6rem;
        font-weight: 100;
        text-align: center;
       }
  }
  
 
  
  /* --------- Contenido --------- */
  .titulos{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  
  }
  
  /* --------- Antes y Despues --------- */
  .AyD{
    width: 320px;
    display: flex;  flex-direction: column; 
    align-items:  center;
  }
  
  @mixin antes-despues{
    width: 250px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 90px;
  }

  .chica1{
    @include antes-despues;
    background-image: url("../imagenes/chica1.png");
   }
  
  .chica2{
    @include antes-despues;
   background-image: url("../imagenes/chica2.png");
   
  }
  
  .hombre1{
    @include antes-despues;
   background-image: url("../imagenes/hombre3.png");
   
  }
  
  .testimonios{
    background-color: $blanco;
    color: $oscuro;
    padding: 10px;
    
  }
  
  /* --------- Entrenamientos y Recetas --------- */
  .videos{
   height: 1700px;
   display: flex;  flex-direction: column; 
   align-items:  center;
  
   flex-wrap: wrap;
   align-content: space-around;
  
  }
  
  iframe{
    border: solid $blanco 2px;
  }
  
  /* --------- Footer --------- */
  #footer1{
    .contenedor1{
      @include linea-negra;
    }
    
    .contenedor2{
      @include linea-negra;
    }
  
}
  }