/*-----------------------------------------------------Variables------------------------------------------*/
@import "color";
/*------------------------------------------------Estilos en comun---------------------------------------*/
/* --------- Generales --------- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}


html{
 font-size: 62.5%
}

body{
    margin-left: 2px; 
    margin-right: 2px;
}

.grid{
    max-width: 100%;
    display: grid;
    grid-template-rows:repeat 1fr 1fr 1fr;
    grid-template-columns:repeat(4,1fr);
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  }
  
  
  /* --------- Header --------- */
  header{
      grid-area: header;
      width: 100%;
    background-color: $blanco;
    position: fixed;
    z-index: 1;
   }
   .container-fluid{
  
      font-family: 'Anton', sans-serif;
      
   }
   
   .nav-item{
    
       margin-left: 40px;
   
   }
   
   .nav-link{
      margin-top: 20px;
      text-decoration: none;
      display: inline-block;
      color: $oscuro;
      font-size: 25px;
      font-weight: 100;
      padding:7px 14px;
     position: relative;
      overflow: hidden;
      transition: color 1s;

      &:hover{
        color:$blanco;
    }

     &::before{
        content: '';
        position: absolute;
        top: 0%;
        left: -14.5px;
       width: 0;
       height: 100%;
       background-color: $oscuro;
       transform: skewX(35deg);
       z-index: -1;
       transition: width 1s;
    }

    &:hover:before{
        width: 150%;
        }
  }
  
  
  
  
  
  

.gym_atreus{
    width: 150px;
}

.calendario{
    width: 50px;
}

/* --------- Main --------- */
main{
    grid-area: main;
    z-index: -1;
}

/* --------- Footer --------- */
footer{ 
    grid-area: footer;
  z-index: -1;
}

 h3{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}


/* --------- Calendario y Ubicacion --------- */
.calendario_y_ubicacion{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 50px 30px;
    
}

.contenedor1{
    display: inline-block;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;


 h2{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 8px;
}



a{
    text-decoration: none;
    display: inline-block;
    color: $blanco;
}
}

.correo{
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.contenedor2{
    display: inline-block;
    width: 300px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;


 h2{
  font-family: 'Anton', sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 8px;

}

 p{
    margin-bottom: 10px;
}
}

/* --------- Concacto --------- */
.contacto{
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

.contenedor3{
    display: inline-block;
    }

.redes{
 text-decoration: none;
 text-align: center;
 margin-bottom: 5px;
 color: $blanco;

}
img{
    width: 3.2rem;
}




/* --------- Dispositivos Moviles ---------*/
@import "mobile";
/*-------------------------------------------------------Index--------------------------------------------*/
@import "index";
/*-------Formato Mobile de Index----------*/
@import "mobile-index";
/*----------------------------------------------------Nosotros--------------------------------------------*/
@import "nosotros";
/*-------Formato Mobile de Nosotros----------*/
@import "mobile-nosotros";
/*-----------------------------------------------------Clases--------------------------------------------*/
@import "clases";
/*-------Formato Mobile de Clases----------*/
@import "mobile-clases";
/*------------------------------------------------------Blog----------------------------------------------*/
@import "blog";
/*-------Formato Mobile de Blog----------*/
@import "mobile-blog";


