/* --------- Header --------- */
header{
  height: 80px;
}

/* --------- Main --------- */
main{
 height: 800px;
 background-image: url("./imagenes/fondo de index.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 z-index: 0;
 display: flex;
 justify-content: flex-end;
}



.titulo{
 font-family: 'Anton', sans-serif;
 font-style: italic;
 color: #f1e924;
 font-size: 50px;
 font-weight: 100;
 width: 450px;
 text-align: center;
 margin-top: 270px;
 margin-right: 10px;
}

/* --------- Footer --------- */
footer{
  height: 350px;
  color: white;
  background-color: #081115;
  z-index: 0;
}



footer a{
  color: white ;
}

@media only screen and (max-width: 320px) {
  
  main{
    display: flex;     
    justify-content: center;
    
    
  }

  .titulo{
   font-family: 'Anton', sans-serif;
   font-style: italic;
   color: #f1e924;
   font-size: 2.5rem;
   font-weight: 100;
   width: 220px;
   text-align: center;
   margin-top: 100px;
   
 }

 .contenedor1{
   border-bottom: solid white 2px;
 }

 .contenedor2{
   border-bottom: solid white 2px;
 }


}